body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-items {
  list-style: none;
  display: flex;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0,0,40,0.2);
  background-color: #111;
}

.nav-items > li{
  padding: 10px;
}

.nav-logo {
  width: 30px;
  padding-left: 15px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #111;
  padding: 5px;
}

.main_content {
  padding: 20px; 
}

.logo_char {
  font-size: 2em;
  color: #4DA9C2;
}